<%= render 'stickies/form' %>

<div>
  <h2>Keep</h2>
  <div class="row">
    <% @board.select_stickies(:keep).each do |sticky| %>
      <%= render partial: 'stickies/sticky', locals: { sticky: sticky } %>
    <% end %>
  </div>
  <h2>Problem</h2>
  <div class="row">
    <% @board.select_stickies(:problem).each do |sticky| %>
      <%= render partial: 'stickies/sticky', locals: { sticky: sticky } %>
    <% end %>
  </div>
  <h2>Try</h2>
  <div class="row">
    <% @board.select_stickies(:try).each do |sticky| %>
      <%= render partial: 'stickies/sticky', locals: { sticky: sticky } %>
    <% end %>
  </div>
<div>

<%= link_to 'Back', boards_path %>
