<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @sticky.type %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @sticky.comment %>
</p>

<p>
  <strong>Author:</strong>
  <%= @sticky.author %>
</p>

<%= link_to 'Edit', edit_sticky_path(@sticky) %> |
<%= link_to 'Back', stickies_path %>
